.basic-stuff-container {
    display: flex;
    flex-direction: column;
  }
  
  .bold-text {
    font-weight: bold;
  }
  
  .field-name-container {
    display: flex;
    align-items: center;
  }
  
  .field-name {
    font-size: 20px;
  }
  
  .field-id-container {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  span{
    padding: 0 !important;
margin:0 !important;
  }
  
  .copy-button {
    transition: background-color 0.3s ease !important;
  background-color: transparent !important;
  color: black !important;
  margin: 0px !important;
  border: none !important;
  font-size: 12px !important;
  padding: 0 !important;
  }
  
  .color-black {
    color: black;
  }
  
  .copied-text {
    /* margin-left: 10px; */
    font-size: 16px;
    color: black;
  }
  
