

.flex-col-center-center {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.w-100per {
  width: 100% !important;
}

.h-100per{
  height: 100% !important;
}
.flex-center-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.p-1 {
  padding: 7px !important;
}

.errorContainer {
  color: red !important;
  font-size: 12px !important;
}

.primary-btn {
  color: white !important;
  font-size: 13px !important;
  background-color: #273746 !important;
  margin-right: 2px !important;
  border: 1px solid #273746 !important;
  width: fit-content;
}
.primary-btn:hover {
  color: white !important;
  font-size: 13px !important;
  background-color: #1C2833 !important;
  margin-right: 2px !important;
}

.mt-2 {
  margin-top: 14px !important;
}

.mb-2 {
  margin-bottom : 14px !important;
}

.m-2{
  margin: 14px !important;
}