.add-record-container {
  display: flex !important ;
  flex-direction: column !important ;
  position: fixed !important ;
  right: 0 !important ;
  width: 50vw !important;

  padding: 10px !important ;
 
  white-space: pre-wrap !important ;

  }
  
  .records-container {
    width: 700px !important;
    padding-right: 20px !important;
    white-space: pre-wrap !important;
    padding: 2px !important;
  }
  
  .add-record-title {
    font-weight: bold !important;
    font-size: 24px !important;
  }  