@import '../../../../src/assets/styling.scss';
.tableslist{
  margin-top: 6.5vh !important;
  position:fixed !important;
  top:0 !important;
  z-index:100;
  color: $fontColorVAlue !important;
  background-color: $bgColorValue !important;
  font-size: $tablepagefontsize !important;

}

.tables-list-container {
    width: 99.3vw !important;
    display: flex !important;
    height: 5vh !important;
  font-size: $tablepagefontsize !important;

    overflow: hidden !important;
    
  
    .tabs-container {
      display: flex !important;
      overflow: hidden !important;
      width: 100% !important;
      padding-left: 24px !important;
      padding-right: 20px !important;
      height: 5vh !important;









      .add-button {
        margin-left: 0.5rem !important;
        margin-top: 4px !important;
        width: fit-content !important;
        height: 4vh !important;
      }
    }
  }
  .custom-box {
  margin-right: 10px !important;
    .filter-box {
      background-color: transparent !important;
    width: 100px !important;
      display: flex !important;
      align-items: center !important;
  font-size: $tablepagefontsize !important;
      justify-content: center !important;
      color: $filterColorValue !important;
      border-radius: 0 !important;
      padding: 7% !important;
      margin-top: 12px !important;
      margin-bottom: 6px !important;
      margin-right: 10px !important;
      border: 1px solid $filterColorValue!important;
      height: 15px !important;
      

  
      &:hover {
        text-decoration: underline !important;
      }
  
      .MuiIconButton-root {
        color: $filterColorValue !important;
      }
    }
  }
  
  
  
  .filter-button {
    width: 110px!important;
    margin-top: 12px !important;
    
    padding: 1% !important;
    padding-bottom: 1.2% !important;
    height: 15px !important;



    margin-bottom: 6px !important;
    text-transform: none !important;
  font-size: $tablepagefontsize !important;

   
&.hover{
  background-color: $responseboxbgcolor;
}
  }

  
 
  .moreverticon{
    color:$filterColorValue !important;
  }
  
  .table-loading {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
 
 .tablesmargin{
  margin-top: 170px !important;
 }
 