@import '../../assets/styling.scss';
.tableslist1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .tabs-container1{
        width: 100%;
    }
}
.main-box{
    width: 85vw;
    margin: 40px;

}