@import '../../../../assets/styling.scss';
*{
font-family: 'Inter' !important;
}

.optional-parameter-container {
  border-top: 0.1px solid $linecolor !important;

    border-radius: 0px !important;
    padding: 10px !important;
padding-left: 0px !important;
    width: 50vw !important;
    background-color: $bgColorValue !important;
    padding-bottom: 20px !important;
  }
  
  .bold-heading {
    font-weight: bold !important;
    font-size: 17px !important;
  }
  
  .parameter-heading {
    font-weight: bold !important;
    font-size: 17px !important;
    padding-top: 10px !important;
  }
  
  .parameter-description {
    padding-bottom: 15px !important;
  }
  
  .text-field {
    height: 40px !important;
    width: 100% !important; /* Use 100% width to occupy the full available space */
  }
  
  .link {
    font-size: 15px !important;
  }

  
  .limit-heading {
    font-weight: bold !important;
    font-size: 17px !important;
    padding-bottom: 8px !important;
    padding-top: 13px !important;
  }
  
  .limit-description {
    font-weight: bold !important;
    font-size: 17px !important;
    padding-bottom: 40px !important;
  }
  