.edited-item{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 100%;
    .edited-by{
        // min-width: 35rem;
        width: 35rem;
        display:flex;
        justify-content: space-between;
        .edited-name{
            margin-right: 30px;
        }
    }
    .edited-field{
        border:1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: whitesmoke;
        .edited-value{
            padding: 5px;
            font-size:1.4rem;
            span{
                background-color: #e0eafe;
            }
        }
        .edited-field-id{
            font-size:0.8rem;
            text-transform: uppercase;
        }
    }
}
.row-history{
    min-width: 35rem;
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 0 10px;
}
.row-history-header{
    display: flex;
    justify-content: space-between;
    .close-button:hover{
        background-color: transparent;
    }
}
.row-history-dialog{
    z-index: 100001 !important;
}