.api-crud-tablist-container {
  width: 100% !important;
}

.tab-container {
  border-bottom: 1px solid #ccc !important;
}

.custom-tab-indicator {
  display: none !important
}
::-webkit-scrollbar{
  display: none !important;
}

.custom-tab-label {
  background-color: #9e9e9e !important ;
  color: #fff !important ;
  position: relative !important ;
  padding: 3px 35px !important ;
}

/* .custom-tab-label.Mui-selected {
  background-color: #fff;
  color: #000;
} */

.custom-tab-label.Mui-selected {
    background-color: #fff !important;
    color: #000 !important;
  }
