.table-container .grid-row {
    border-bottom: 1px solid #333333!important ;
  }
  
  .table-container .grid-cell {
    border-right: 1px solid #ac2323!important ;
  }
  
  .table-container .grid-header-row {
    border-bottom: 2px solid #bc1717!important ;
  }
  
  .table-container .grid-header-cell {
    border-right: 1px solid #333!important ;
    border-bottom: none!important ;
  }
  