
::-webkit-scrollbar{
    display: none;
}
.root {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    overflow-y: hidden;
  }
  
  .input-wrapper {
    overflow: hidden;
    padding: 1px;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .input-wrapper::-webkit-scrollbar {
    display: none !important;
  }
  
  .input-wrapper:hover {
    border-color: #40a9ff;
  }
  
  .input-wrapper.focused {
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
  
  .input-wrapper input {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.85);
    height: 28px;
    box-sizing: border-box;
    padding: 4px 6px;
    width: 0;
    min-width: 30px;
    flex-grow: 1;
    border: 0;
    margin: 0;
    outline: 0;
  }
  
  .tag-wrapper {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .tag-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .tag {
    display: flex;
    align-items: center;
    height: 24px;
    margin: 2px;
    line-height: 22px;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    box-sizing: content-box;
    padding: 0 4px 0 10px;
    outline: 0;
  }
  
  .tag:focus {
    border-color: #40a9ff;
    background-color: #e6f7ff;
  }
  
  .tag span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .tag svg {
    font-size: 12px;
    cursor: pointer;
    padding: 4px;
  }
  
  .listbox {
    margin: 2px 0 0;
    padding: 0;
    position: absolute;
    list-style: none;
    background-color: #fff;
    max-height: 250px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1;
  }
  
  .listbox::-webkit-scrollbar {
    display: none;
  }
  
  .option {
    padding: 5px 12px;
    display: flex;
  }
  
  .option-colored {
    background-color: #fafafa;
    font-weight: 600;
  }
  
  .option.option-focused {
    background-color: #e6f7ff;
    cursor: pointer;
  }
  
  .option.option-focused svg {
    color: currentColor;
  }
  