.create-auth-key-b2 {
  display: flex !important;
  flex-direction: column !important;
  width: 300px !important;
}
.create-auth-key-b3 {
  display: flex !important;
  justify-content: space-between !important;
  padding: 0 5px 0 0 !important;
}
