.google-auth-button {
    margin-top: 10px !important ;
    font-weight: bold !important ;
    border: 2px !important ;
    border-color: black !important ;
  }
  
  .google-auth-icon {
    width: 30px !important ;
    height: auto !important ;
  }   