.boxone{
    overflow: hidden !important;
    
}
.h40{
    margin-top: 1vh  !important;
    height: 5vh !important;
}
.apidiv{
    position:absolute !important;
    width: 60px !important;
    right: 20px !important;
  
    top :8vh !important;   
   
}
.dbData{
    height: calc(100vh-90px) !important;
   
}
.nav{
    height: 7vh !important;
}