.container {
    display: flex !important ;
    flex-direction: column !important ;
    position: fixed !important ;
    right: 0 !important ;
    width: 50vw !important;

    padding: 10px !important ;
  padding-right: 13px !important;
   
    white-space: pre-wrap !important ;




  }
  
  .response-container {
    width: 700px !important ;
   
    white-space: pre-wrap !important ;
    padding: 2px !important ;
  }
  
  .bold-heading {
    font-weight: bold !important ;
    font-size: 20px !important ;
  }
  