$bgColorValue:#fff;
$fontColorVAlue:#000;
$filterColorValue:black;
$responseboxfontColor:#fff;
$responseboxbgcolor:#4A4A4A;
$copybuttoncolorlight:#fff;
$copybuttoncolordark:#0000;
$googleauthbordercolor:#0000;
$tablepagefontsize:16px;
$errorcolor:#a51226;
$selectedtabfontcolor:white;
$selectedtabbgcolor:black;
$megatitlesize:30;
$mainnavbartextcolor:$fontColorVAlue;
$fontFamily:'Inter';
$mainnavbarfontweight:200;
$linecolor:#ccc;
$mainnavbartabsfont:1rem;
$codeblockfontsize:20px;
$bold:bold;
$highlightedtabbgcolor:lightgrey;
:export {
  bgcolorvalue:$bgColorValue;
  titlevariant:h2;
titleweight:bold;
  megatitlevariant:h3;
    megatitlesize: $megatitlesize;
    titlesize:24;
    titlefontsize:24px;
    textsize:18;
    tablepagefontsize:$tablepagefontsize;
    basictextcolor:$fontColorVAlue;
mainnavbartextcolor:$mainnavbartextcolor;
fontFamily:Inter;
mainnavbarfontweight:$mainnavbarfontweight;
homebuttonvariant:h6;
highlightedtabbgcolor:$highlightedtabbgcolor;
profileiconheight:34px;
profileiconwidth:36px;
codeblockcopybuttonsize:20px;

linksizeoptionalparameter:14;
  }