@import '../../../../assets/styling.scss';
.response-box{
  
  color: $responseboxfontColor !important;
  background-color: $responseboxbgcolor!important;
  // padding: 10px !important;
  width: 40vw !important;
  height: 100% !important;
  margin-bottom: 12px !important;
  font-size:$codeblockfontsize !important;

  margin-top: 10px !important;
  padding-bottom: 4vh !important;
}
.codeblock-header{
  height: 30px !important;
  padding-left: 15px !important;
  background-color: $responseboxbgcolor !important;
}

.code-block {
  background-color: $fontColorVAlue !important;
  color: $bgColorValue !important;
  padding-bottom: 4vh !important;
  overflow-y:visible !important;
   
    width:40vw  !important;
   
   height: fit-content !important;
  margin-top: 30px !important;
  font-size:$codeblockfontsize !important;
}

  
  .code-block pre {
    margin: 1 !important;
    margin-left: 10px !important;
  }
  
  .copy-button {



    background-color: transparent !important;
    color: $copybuttoncolorlight !important;
    border: none !important;
    border-radius: 0 !important;
    margin-left: -20px !important;
     padding: 4px 10px !important; 
    cursor: pointer !important;
  }
  
  .copy-button:hover {
    opacity: 0.8 !important;
  }
  .code-block code {
    white-space: pre-wrap !important;
  }
  
  .button {
    position: relative !important;
    bottom: 65px  !important;
    font-size: 15px  !important;
  }
  
  .button-api {
    background-color: $fontColorVAlue;
    color: $bgColorValue;
    font-size: 24px !important;
  }
  .button-curl {
   
    font-size: 24px !important;
    background-color: $bgColorValue  !important;
    color: $fontColorVAlue  !important;

  }
  .response-header{
    height: 26px !important;

    background-color: $fontColorVAlue  !important;
  }
  .response-body{
    padding: 10px !important;
  }
  .pre-wrapper {
    position: relative !important;
    width: 500px !important;
    height:auto !important;
    
    white-space: pre-wrap !important;
  }
  
  .code {
    white-space: pre-wrap !important;
    max-width: 400px !important;
    word-wrap: break-word !important;
  }
  
  .yellow {
    color: yellow !important;
  }
  
  .white {
    color: white !important;
  }
  
  .cyan {
    color: cyan !important;
    margin: 1px !important;
  }
  
  .green {
    color: green !important;
    margin: 1px !important;
  }
  
  .magenta {
    color: magenta !important;
    margin: 1px !important;
  }
  .active{
    cursor:  pointer !important;
      }