.response-box{
  
  color: white;
  background-color: grey;
  padding: 10px;
  border-radius: 5px;
  width: 500px;
  height: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 4vh;
}
.code-block {
    
    background-color: black;
    color: white;
    padding-bottom: 4vh;
   
    border-radius: 5px;
    width:500px;
   
   height: 100%;
    margin-right:20px;
  margin-top: 20px;
  }
  
  .code-block pre {
    margin: 1;
    margin-left: 10px;
  }
  
  .copy-button {

    top: 5px;
    right: 5px; 
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .copy-button:hover {
    opacity: 0.8;
  }
  .code-block code {
    white-space: pre-wrap;
  }
  