.code-block {
    position: fixed;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width:500px;
    height:300px;
    right:0;
    margin-right:20px;
    margin-bottom:300px;
  }
  
  .code-block pre {
    margin: 1;
  }
  
  .copy-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .copy-button:hover {
    opacity: 0.8;
  }
  .code-block code {
    white-space: pre-wrap;
  }
  